body {
    padding-top: 70px;
}

ul {
    list-style-type: none;
}

.form-organisation-label {
    margin-left: 0%;
}

.form-organisation-widget {
   vertical-align: baseline;
    margin-left: 10%;
}

.navbar {
margin-left: 25%;
margin-right: 25%;
}

.connection{
    margin-top: -55px;
}