body {
    padding-top: 70px;
}

ul {
    list-style-type: none;
}

.form-organisation-label {
    margin-left: 0%;
}

.form-organisation-widget {
   vertical-align: baseline;
    margin-left: 10%;
}

.navbar {
    position: absolute;
    z-index: 1;
}

.connection{
    position: absolute;
    margin-left: 80%;
    margin-top: -55px;
    z-index: 2;
}