body {
    padding-top: 42px;
}

ul {
    list-style-type: none;
}

.form-organisation-label {
    margin-left: 40%;
}

.form-organisation-widget {
   vertical-align: baseline;
    margin-left: 45%;
}