{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{%  block  fos_user_content  %}

    <h1>User creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
