{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{%  block  fos_user_content  %}

    <h1>User creation</h1>

    {{ form_row(form, { 'attr': { 'class': 'form-control'}}) }}

{% endblock %}
