{% extends '::base.html.twig' %}
{% block body %}
    <div class="nav-bar">
        {% include 'EmiageReviewManagerBundle::nav.html.twig' %}
    </div>
    {% block content %}
    {% endblock content%}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}
