{% extends '::base.html.twig' %}
{% block connection %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="nav-bar">
        {% include 'EmiageReviewManagerBundle::nav.html.twig' %}
    </div>
    {% block content %}
    {% endblock content%}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}
