{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Liste des centres d'inscription</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                {% if is_granted ("ROLE_ADMIN") %}
                    <ul>
                        <li>
                            <a href="{{ path('registercenter_delete', { 'id': entity.id }) }}" class="btn btn-default" onclick="return confirm('Supprimer ce centre ?');">supprimer</a>
                        </li>
                    </ul>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted ("ROLE_ADMIN") %}
            <ul>
                <li>
                    <a href="{{ path('registercenter_new') }}" class="btn btn-primary">
                        Créer un centre d'inscription
                    </a>
                </li>
            </ul>
    {% endif %}
    {% endblock %}
