{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Liste des centres d'examens</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td><a href="{{ path('reviewcenter_delete', { 'id': entity.id }) }}" class="btn btn-default" onclick="return confirm('Supprimer ce centre ?');">supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('reviewcenter_new') }}" class="btn btn-primary">
            Create a new entry
        </a>
    {% endif %}
    {% endblock %}
