{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>ReviewCenter creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('reviewcenter') }}" class="btn btn-default">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
