{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>ReviewCenter creation</h1>

    <div class="input-group-addon">
        {{ form(form) }}
    </div>

{% endblock %}
