{# src/Emiage/UserBundle/Resources/views/layout.html.twig #}

{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://localhost/reviewmanager/web/bundles/emiagereviewmanager/css/style.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
    <div>
        {% block content %}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
        {% endblock content%}
    </div>
{% endblock %}

