{# src/Emiage/UserBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}

{# Dans notre layout, il faut définir le block body #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://localhost/reviewmanager/web/bundles/emiagereviewmanager/css/style.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
        {% block content %}
        {% endblock content%}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}

