{% extends 'EmiageReviewManagerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Examen edit</h1>
    <form method="post" {{ form_enctype(form) }} class="input-group input-group-lg">
        <span class="input-group-addon">
            {{form(form)}}
        </span>
    </form>
{% endblock %}
